@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Poppins:200,400,400i,600);

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.42em;
  color:#fff;
  background-color:#3f3837;
}

.App-header {
  text-align:center;
  margin: 4em 2em 2em;
}

h1 {
  font-family: 'Libre Baskerville', serif; 
  font-size: 2em;
  font-weight: 400;
  color: #db9408;
}

h2 {
  font-size: 1em;
  color: #e1727e;
}

a {
  color: #e1727e;
}

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  min-height: 36px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 15px;
  color: #404040;
  outline: none;
}

.Table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.Table-header {
  display: flex;
  color: #fff;
}

.Table-headerCell {
  flex: 1;
  background-color: #4d4443;
  font-weight: bold;
  color: #b9892a;
  border: 1px solid #3f3837;
}

.EventRow {
  display: flex;
}

.EventRow-cell {
  flex: 1;
  font-weight: normal;
  border: 1px solid #3f3837;
  border-radius: 2px;
}

.EventRow .EventRow-cell {
  background-color: #5a504f;
}

.EventRow:nth-child(even) .EventRow-cell {
  background-color: #4d4443;
}

.Table-headerCell, .EventRow-cell {
  padding: 1em 1.5em;
}

@media (max-width: 1000px) {
.Table-headerCell:last-child,
.EventRow-cell:last-child { display: none; }
}

.Sortable {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.Arrow {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.Arrow--up {
  border-bottom: 12px solid #3f3837;
}

.Arrow--down {
  border-top: 12px solid #3f3837;
}