@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400,700);

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.42em;
  color: #222;
}

h1 {
  font-weight:400;
}

h2 {
  font-size: 1em;
  font-weight:700;
}

a {
  color: #0074d9;
}

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  min-height: 36px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 15px;
  color: #404040;
  outline: none;
}

input:disabled {
  cursor: not-allowed;
}

.App-header {
  height: 160px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.u-small {
  font-size: .75em;
  font-weight: 200;
}