@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400,700);

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.42em;
  color: #222;
}

h1 {
  font-weight:400;
}

h2 {
  font-size: 1em;
  font-weight:700;
}

a {
  color: #0074d9;
}

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  min-height: 36px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 15px;
  color: #404040;
  outline: none;
}

input:disabled {
  cursor: not-allowed;
}

.App-header {
  height: 160px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.u-small {
  font-size: .75em;
  font-weight: 200;
}

.Table {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
  height: calc(100% - 160px); 
  overflow: hidden;
}

.Table-body {
  height: calc(100% - 140px); 
  overflow-y: scroll;
}

.Table-row {
  display: flex;
}

.Table-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1em 1.5em;
}

.Table-row--header {
  height: 100px;
}

.Table-cell--header {
  font-weight: 700;
}

.Table-row:nth-child(even) .Table-cell {
  background-color: #eee;
}

.Table-cell--location {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .Table-cell:last-child { 
    display: none; 
  }
}

.Sortable {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.Sortable-unsorted {
  display: flex;
  flex-direction: column;
}

.Sortable-unsorted .Arrow {
  margin-bottom: 3px;
}

.Arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.Arrow--up {
  border-bottom: 10px solid #999;
}

.Arrow--down {
  border-top: 10px solid #999;
}