.Table {
  padding-bottom: 20px;
  margin: 0 20px;
}

.Table--mobile {
  display: none;
}

@media (max-width: 800px) {
  .Table { 
    display: none; 
  }

  .Table--mobile {
    display: block;
  }
}

.Table-row {
  display: flex;
}

.Table-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.Table-row--header {
  height: 100px;
}

.Table-cell--header {
  font-weight: 700;
}

.Table-row:nth-child(even) .Table-cell {
  background-color: #eee;
}

.EventRow-name {
  display: flex;
  align-items: center;
}

.EventRow-name svg {
  margin-right: 10px;
}

.EventRow-location {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .Table-cell:last-child { 
    display: none; 
  }
}

@media (max-width: 800px) {
  .Table-cell:last-child { 
    display: block; 
  }
}

.Sortable {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.Sortable-unsorted {
  display: flex;
  flex-direction: column;
}

.Sortable-unsorted .Arrow {
  margin-bottom: 3px;
}

.Arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.Arrow--up {
  border-bottom: 10px solid #999;
}

.Arrow--down {
  border-top: 10px solid #999;
}

.Table--mobile .Table-cell--header {
  border: none;
}

.Table--mobile .EventRow {
  cursor: pointer;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.Table--mobile .EventRow-cell {
  margin: 10px 0;
  padding: 10px 20px;
}

.Table--mobile .EventRow-cell--header {
  margin: 20px 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Table--mobile .EventRow-cell--body {
  display:none;
}

.EventRow--active .EventRow-cell--header {
  box-shadow: 0 4px 2px -2px #ccc;
}

.EventRow--active .EventRow-cell--body {
  display:block;
}
