.Table {
  padding-bottom: 2em;
  margin: 0 2em;
}

.Table-row {
  display: flex;
}

.Table-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1em 1.5em;
}

.Table-row--header {
  height: 100px;
}

.Table-cell--header {
  font-weight: 700;
}

.Table-row:nth-child(even) .Table-cell {
  background-color: #eee;
}

.Table-cell--location {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .Table-cell:last-child { 
    display: none; 
  }
}

.Sortable {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.Sortable-unsorted {
  display: flex;
  flex-direction: column;
}

.Sortable-unsorted .Arrow {
  margin-bottom: 3px;
}

.Arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.Arrow--up {
  border-bottom: 10px solid #999;
}

.Arrow--down {
  border-top: 10px solid #999;
}